<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">gitNGfirey</h3>
</div>

<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
</div>

<div class="row">
  <div class="col-md-8">
    <article ng-repeat="(index, post) in posts">
      <h4>{{post.title}}</h4>
      <p>{{post.content}}</p>

      <p class="small">{{post.author}} | <a href="#" ng-click="removePost(index)">Remove Post</a></p>
    </article>
  </div>

  <div class="col-md-4">
  <div class="well">
  <a class="btn btn-primary" ng-href="#/newPost">New Post</a></div>
  </div>
</div>

<div class="footer">
  <p><span class="glyphicon glyphicon-heart"></span> By Brooke Casey</p>
</div>
